[submodule "dt4mob-gantry-service"]
	path = dt4mob-gantry-service
	url = git@github.com:ATNoG/dt4mob-gantry-service.git
	branch = main
[submodule "dt4mob-sensor-data-conversion"]
	path = dt4mob-sensor-data-conversion
	url = git@github.com:ATNoG/dt4mob-sensor-data-conversion.git
	branch = main
[submodule "dt4mob-level-ams-loader"]
	path = dt4mob-level-ams-loader
	url = git@github.com:ATNoG/dt4mob-level-ams-loader.git
	branch = main
[submodule "dt4mob-data-bridge"]
	path = dt4mob-data-bridge
	url = https://github.com/ATNoG/dt4mob-data-bridge
	branch = main
[submodule "dt4mob-meteo-populator"]
	path = dt4mob-meteo-populator
	url = https://github.com/ATNoG/dt4mob-meteo-populator
	branch = main
[submodule "dt4mob-simulation"]
	path = dt4mob-simulation
	url = git@github.com:ATNoG/dt4mob-simulation.git
[submodule "dt4mob-platform"]
	path = dt4mob-platform
	url = git@github.com:ATNoG/dt4mob-platform.git
